@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}


body {
    background-image: linear-gradient(to right, rgb(14, 24, 77) 0%, rgb(17, 9, 22) 80%);
    width: 100vw;
    height: 100vh;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    overflow-x: hidden;
}

.headerText {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 2rem;
    right: 3rem;
    user-select: none;
}


article p {
    font-family: Roboto Condensed;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.18rem;
}

.headerText h1 {
    text-align: right;
    font-family: Secular One;
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.3375rem;

}

.headerText span {
    color: #FFD029;
    text-align: right;
    font-family: Lora;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.9rem;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#Solen {
    background-image: linear-gradient(to right, rgb(226, 17, 17) 0%, rgb(240, 240, 108) 100%);
    margin-left: -40%;
    position: relative;
    flex-shrink: 0;
    width: 50%;
    height: 100%;
    border-radius: 70%;
    box-shadow:
        5px 1px 20px 10px rgba(238, 255, 0, 0.226),
        5px 1px 100px 10px rgba(223, 148, 50, 0.555)
}

#Merkurius {
    background-color: grey;
    flex-shrink: 0;
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 50%;
}

#Venus {
    background-color: rgb(255, 208, 215);
    flex-shrink: 0;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

#Jorden {
    background-color: rgb(86, 127, 204);
    flex-shrink: 0;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

#Mars {
    background-color: rgb(243, 107, 107);
    flex-shrink: 0;
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 50%;
}

#Jupiter {
    background-color: rgb(207, 132, 102);
    flex-shrink: 0;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
}

#Saturnus::before {
    position: absolute;
    content: '';
    bottom: -3rem;
    width: .3rem;
    height: 18rem;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.438);
    transform: rotate(135deg);
}

#Saturnus {
    position: relative;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 232, 157, 0.671);
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
}



#Uranus {
    background-color: rgba(219, 240, 248, 0.952);
    flex-shrink: 0;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
}

#Neptunus {
    background-color: rgba(177, 202, 190, 0.705);
    flex-shrink: 0;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    margin-right: 3rem;
}

#overlayContainer {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-image: inherit;
    display: none;
}

#overlayFlex {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

#overlayText {
    display: grid;
    margin: 1rem auto;
    width: 50rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
}


.overlay-info,
.overlay-info-temp {
    user-select: none;
}

.overlay-info-temp {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 1rem;
}

.overlay-info>*,
.overlay-info-temp>* {
    padding-top: 1rem;
}

.overlay-info h2,
.overlay-info-temp h2 {
    font-family: Secular One;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.10125rem;
}


#name {
    font-family: Secular One;
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.3375rem;

    grid-column-start: 1;
    grid-column-end: 2;
}

#latinName {
    color: #FFD029;
    font-family: Lora;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.9rem;
    grid-column-start: 1;
    grid-column-end: 2;
}

#desc {
    grid-column-start: 1;
    grid-column-end: 3;
    border-bottom: 1px rgba(255, 255, 255, 0.5) solid;
    padding-bottom: 1rem;
    font-family: Roboto Condensed;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 300;
}

#circumference {
    grid-column-start: 1;
    grid-column-end: 2;
}

#distance {
    grid-column-start: 2;
    grid-column-end: 3;
}

#tempDay {
    grid-column-start: 1;
    grid-column-end: 2;
}

#tempNight {
    grid-column-start: 2;
    grid-column-end: 3;
}



#moons {
    grid-column-start: 1;
    grid-column-end: 3;

}



.star {
    width: .2rem;
    height: .2rem;
    background-color: white;
    position: absolute;
    filter: blur(2px);
}

#btn {
    font-size: 2rem;
    text-decoration: underline;
    padding: 1rem;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: 1s;
    opacity: 30%;
    border: none;
    cursor: pointer;
}

#btn:hover {
    opacity: 100%;
}

.ourGalaxy {
    transition: 1s;
}

.ourGalaxy:hover {
    cursor: pointer;
    box-shadow: 0rem 0rem 3rem white;

}

#Solen:hover {
    box-shadow: 0rem 0rem 5rem yellow,
        0 0 8rem rgba(255, 255, 255, 0.501);
}

#overlay-planet {
    margin-left: -40%;
    background: rgb(69, 144, 214);
    position: absolute;
    z-index: 1;
    flex-shrink: 0;
    width: 50%;
    height: 100%;
    border-radius: 70%;


    box-shadow: 2rem 0 rgba(69, 144, 214, 0.1),
        4rem 0 rgba(69, 144, 214, 0.06);
}