* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    /* background-color: black; */
    background-image: linear-gradient(to right, rgb(14, 24, 77) 0%, rgb(17, 9, 22) 80%);
    width: 100vw;
    height: 100vh;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
    overflow-x: hidden;
}

.headerText {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 2rem;
    right: 3rem;
    user-select: none;

}

span {
    align-self: flex-end;
    font-size: 3rem;
    color: white;
}


.headerText h1 {
    font-size: 5rem;
    color: white;
    letter-spacing: .2rem;
}

.headerText span {
    font-size: 2rem;
    letter-spacing: 1rem;
    color: gold;
}

.container {
    /* background-image: linear-gradient(to right, rgb(41, 20, 53) 0%, rgb(19, 32, 107) 150%); */

    width: 100%;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#Solen {
    background-image: linear-gradient(to right, rgb(226, 17, 17) 0%, rgb(240, 240, 108) 100%);
    margin-left: -40%;
    position: relative;
    z-index: 10;
    flex-shrink: 0;
    width: 50%;
    height: 100%;
    border-radius: 70%;
    box-shadow:
        5px 1px 20px 10px rgba(238, 255, 0, 0.226),
        5px 1px 100px 10px rgba(223, 148, 50, 0.555)
}

#Merkurius {
    background-color: grey;
    flex-shrink: 0;
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 50%;
}

#Venus {
    background-color: rgb(255, 208, 215);
    flex-shrink: 0;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

#Jorden {
    background-color: rgb(86, 127, 204);
    flex-shrink: 0;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

#Mars {
    background-color: rgb(243, 107, 107);
    flex-shrink: 0;
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 50%;
}

#Jupiter {
    background-color: rgb(207, 132, 102);
    flex-shrink: 0;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
}

#Saturnus::before {
    position: absolute;
    content: '';
    bottom: -3rem;
    width: .3rem;
    height: 18rem;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.438);
    transform: rotate(135deg);
}

#Saturnus {
    position: relative;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 232, 157, 0.671);
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
}



#Uranus {
    background-color: rgba(219, 240, 248, 0.952);
    flex-shrink: 0;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
}

#Neptunus {
    background-color: rgba(177, 202, 190, 0.705);
    flex-shrink: 0;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    margin-right: 3rem;
}

#overlayContainer {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-image: linear-gradient(to right, rgb(14, 24, 77) 0%, rgb(17, 9, 22) 80%);
    display: none;
}

#overlayFlex {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

#overlayText {
    display: grid;
    /* border: 2px orange solid; */
    /* overflow-y: auto; */

    margin-top: 1rem;
    width: 50%;
    height: 95%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
}


.overlay-info,
.overlay-info-temp {
    color: white;
    /* text-align: center; */
}

.overlay-info-temp {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.overlay-info>*,
.overlay-info-temp>* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 1rem;
}


#btn {
    width: 3rem;
    height: 1.5rem;
}

article h2 {
    text-align: center;
}

#name {
    text-align: center;
    font-size: 5rem;
    letter-spacing: .3rem;
    grid-column-start: 1;
    grid-column-end: 2;
    /* background-color: red; */
}

#latinName {
    /* text-align: center; */
    color: gold;
    font-size: 3rem;
    letter-spacing: 1rem;
    grid-column-start: 1;
    grid-column-end: 2;
    /* background-color: purple; */
}

#desc {
    /* text-align: center; */
    grid-column-start: 1;
    grid-column-end: 3;
    border-bottom: 1px rgba(255, 255, 255, 0.5) solid;
    letter-spacing: 0.1rem;
    margin-bottom: .5rem;
    /* background-color: orange; */
}

#circumference {
    /* background-color: aqua; */
    grid-column-start: 1;
    grid-column-end: 2;
}

#distance {
    /* background-color: brown; */
    grid-column-start: 2;
    grid-column-end: 3;
}

#tempDay {
    grid-column-start: 1;
    grid-column-end: 2;
}

#tempNight {
    grid-column-start: 2;
    grid-column-end: 3;
}

.overlay-info-border {
    border-bottom: 1px rgba(255, 255, 255, 0.27) solid;
    margin-bottom: 1rem;
}


#moons {
    grid-column-start: 1;
    grid-column-end: 3;
    /* background-color: green; */
}

/* 
@media only screen and (max-width: 1500px) {
    body {
        background-color: lightblue;
    }
} */


.star {
    width: .2rem;
    height: .2rem;
    background-color: white;
    position: absolute;
    filter: blur(2px);
}

#btn {
    font-size: 2rem;
    text-decoration: underline;
    padding: 1rem;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: 1s;
    opacity: 30%;
    border: none;
    color: white;
    cursor: pointer;
}

#btn:hover {
    opacity: 100%;
}

.ourGalaxy {
    transition: 1s;
}

.ourGalaxy:hover {
    cursor: pointer;
    box-shadow: 0rem 0rem 3rem white;

}

#Solen:hover {
    box-shadow: 0rem 0rem 10rem yellow,
        0 0 12rem white;
}